/* Colours:
Background: #ffc128
Button/Selection Pink: #ff006c
Blue: #152F75
Score Blue: #142AF1

*/

/* Screen2 */
/* image styles */

[type="radio"]:checked + img {
  outline: 4px solid #ff006c;
}

/* Hide Radio */

[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* General Style*/
:root {
  --app-yellow: #ffc128;
  --app-pink: #ff006c;
  --app-light-blue: #142af1;
  --app-dark-blue: #152f75;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  color: var(--app-dark-blue);
  background-color: var(--app-yellow);
}
/* #hide {
  display: none;
} */
/* 
main {
    position:
    
} */

#screen1 {
  background-color: #fff;
  position: absolute;
  top: 150px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 500px;
  background-color: var(--app-yellow);
}
img {
  max-width: 100%;
  max-height: 100%;
  padding: 20px;
}
#home-logo {
  width: 300px;
}
.start-button,.confirm-button {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background: var(--app-pink);
  color: white;
  /*! font-weight: bold; */
  letter-spacing: 3px;
  font-size: 1.5rem;
}

.in-game-logo {
  width: 150px;
  justify-content: center;
}

#screen2 {
  background-color: #fff;
  position: absolute;
  top: 10px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 500px;
  background-color: var(--app-yellow);

}

/* .header-container {
  
} */

.name-header {
  padding-top: 20px;
}

input {
  width: 200px;
  background-color: white;
  margin: 20px;
}

